﻿@model WebPortfolio.Models.ContactUs

<div>
    <p>
        @Model.Id
    </p>
    <p>
        @Model.Name
    </p>
    <p>
        @Model.Phone
    </p>
    <p>
        @Model.Email
    </p>
    <p>
        @Model.Message
    </p>
    <br />
</div>

