﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio - Thus Vang</title>
    <meta charset="UTF-8">

    <!-- IE Edge Meta Tag -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-default" data-spy="affix">
            <div class="container">
                <div class="navbar-header">
                    <button type=button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu"
                            ariaa-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="collapsemenu">
                    <ul class="nav navbar-nav nav-tabs">
                        <li><a href="@Url.Action("", "home")">Home</a></li>
                        <li><a href="@Url.Action("Projects", "projects")">Projects</a></li>
                        <li><a href="@Url.Action("Resume", "resume")">Resume</a></li>
                        <li><a href="@Url.Action("ContactUs", "contact")">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br /><br /><br /><br />
    <div id="mainContent">
        @RenderBody()
    </div>
    <!-- Optional IE8 Support -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- jQuery -->
    <script src="js/jquery-2.1.4.min.js"></script>

    <!-- Minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/script.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js')
                .then(function () {
                    console.log("Service Worker Registered");
                });
        }
    </script>
</body>

</html>