﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@*Make view a strongly typed view by specifying the the @model tag at
    the top of the file, and entering the full calss name of the post type*@
@model WebPortfolio.Models.ContactUs
@{
    Layout = "_Layout";
}
<div id="mainContent">

    <div class="content-container">
        <div class="row">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>Contact me here</h3>
                <div>
                    <label for="myEmail">Contact methods:</label>
                    <div id="myEmail">
                        <a href="mailto:tvang5@students.ntc.edu">tvang5@students.ntc.edu</a><br>
                        <a href="mailto:vangt@ntc.edu">vangt@ntc.edu</a>
                    </div>
                    <label for=myAddress>Address</label>
                    <p id="myAddress">228075 County Road Q Ringle, WI 54471</p>
                </div>
            </section>
            <section class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <fieldset>
                    @if (@ViewBag.IsSuccess == true)
                    {
                        <p style="color:red">@ViewBag.SuccessMessage</p>
                    }
                    @if (@ViewBag.IsSuccess == false)
                    {
                        <p style="color:red">@ViewBag.FailureMessage</p>
                    }
                    <form id="contactForm" asp-action="ContactUs" asp-controller="Contact">
                        <legend>
                            <h3>Your Contact Information</h3>
                        </legend>

                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" type="text" id="inputName"
                                   aria-describedby="Contact Name">
                            <span asp-validation-for="Name"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" type="email" id="inputEmail"
                                   aria-describedby="Contact Email">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone"></label>
                            <input asp-for="Phone" class="form-control">
                            <span asp-validation-for="Phone"></span>
                        </div>
                        <div class="form-group">

                            <label asp-for="Message"></label>
                            <input asp-for="Message" class="form-control" id="inputComments" aria-labelledby="Comments for recipient"></>
                            <span asp-validation-for="Message"></span>
                        </div>
                        <button type="submit">Submit Contact Information</button>

                    </form>
                </fieldset>
                @*<input id="contactSubmit" class="form-control" type="submit" value="submit" onclick="escapeForm()">*@

            </section>
        </div>
    </div>
</div>
