﻿@{
    Layout = "_Layout";
}
<div id="mainContent">

    <div class="content-container">
        <div class=row>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a role="tab" data-toggle="tab" href="#media">
                        Timed Media
                        Playback API
                    </a>
                </li>
                <li role="presentation"><a role="tab" data-toggle="tab" href="#shapes">2D Drawing</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="media">
                <div class=row>
                    <div class="container">
                        <video width=800 poster="images/coins.jpg" id="vid">
                            <source src="media/test.mp4">
                        </video>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="range" id="scrubber" min="0" max="60" step="1" value='0'>
                    </div>
                    <div class="col-sm-2">
                        <span id="remainingTime">0:00</span>
                        <span id="totalTime">0:00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 text-center">
                        <button class="btn btn-sm" id="playPause">Play</button>
                        <span claass="divider">|</span>
                        <button class="btn btn-sm" id="begin">&lt;&lt;</button>
                        <button class="btn btn-sm" id="rewind">&lt;</button>
                        <button class="btn btn-sm" id="fastForward">&gt;</button>
                        <button class="btn btn-sm" id="end">&gt;&gt;</button>
                        <span claass="divider">|</span>
                        <button class="btn btn-sm" id="stop">Stop</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-8">
                                <input type="range" id="volume" min="0" max="1" step="0.1" title="Volume">
                            </div>
                            <div class="col=sm=1">
                                <button class="btn btn-xs" id="mute">Mute</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-2">Speed</div>
                            <div class="col-sm-10">
                                <input type="range" id="playbackRate" min="1" max="4" step="1" value="1" title="Playback Speed">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="shapes">
                <div class="container">
                    <canvas id="shapeCanvas" width="1000" height="1000"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>