﻿@{
    Layout = "_Layout";
}
<div id="mainContent">

    <div class="content-container">

        <div class="row">
            <section class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8 col-lg-8">
                <section>
                    <ul style="display: inline-block">
                        <li class="h3" style="display: inline-block">Thus Vang</li>
                        <li style="display: inline-block">
                            &#8226 <a href="mailto:tvang5@students.ntc.edu">tvang5@students.ntc.edu</a>
                            &#8226
                        </li>
                        <li style="display: inline-block"><a href="mailto:vangt@ntc.edu">vangt@ntc.edu</a> &#8226</li>
                        <li style="display: inline-block">
                            <a href="https://www.linkedin.com/in/thus-vang-6bb96a148/">LinkedIn</a>
                            &#8226
                        </li>
                    </ul>
                    <form style="display: inline-block" action="https://docs.google.com/document/d/1h6yCVp_NjRlOSdcFhpZPFhSxlxrU6Kt-vvam2HEHdfE/export?format=pdf">
                        <input type="submit" value="Download Resume PDF" />
                    </form>
                </section>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h1 class='panel-title'>Objective</h1>
                    </div>
                    <div class='panel-body'>
                        To obtain a position in Information Technology where I can continue to develop both new skills
                        and myself.
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8 col-lg-8">
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h1 class='panel-title'>Education</h1>
                    </div>
                    <div class='panel-body'>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width=auto>Name</th>
                                    <th width=auto>Program</th>
                                    <th width=auto>Description</th>
                                    <th width=14%>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Northcentral Technical College</th>
                                    <td>IT-Software Developer</td>
                                    <td>
                                        Graduates will be proficient in C#, ASP.NET, ASP.NET MVC, HTML, CSS,
                                        JavaScript, jQuery and SQL.
                                    </td>
                                    <td>Fall 2017 - Present</td>
                                </tr>
                                <tr>
                                    <td scope="row">University of Wisconsin - Stevens Point</th>
                                    <td>Undeclared</td>
                                    <td>
                                        General Studies
                                    </td>
                                    <td>Fall 2015 - Spring 2016</td>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">University of Wisconsin - Eau Claire</th>
                                    <td>Undeclared</td>
                                    <td>General Studies, Honors Program</td>
                                    <td>Fall 2012 - Spring 2014</td>
                                </tr>
                                <tr>
                                    <td scope="row">D.C. Everest Senior High</th>
                                    <td>N/A</td>
                                    <td>
                                        College Preparatory (9 college credits earned)
                                        <br>
                                        <ul>
                                            <li>3.5 GPA</li>
                                            <li>28 ACT</li>
                                        </ul>
                                    </td>
                                    <td>Graduated June 2012</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>

        <div class="row">

            <section class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8 col-lg-8">
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h1 class='panel-title'>Competencies</h1>
                    </div>
                    <div class='panel-body'>
                        <ul style="display: inline-block">
                            <li>Web Development: HTML, CSS, Javascript, jQuery</li>
                            <li>Database Design</li>
                            <li>Data Analytics</li>
                            <li>Extract, Transform, Load (ETL)</li>

                        </ul>
                        <ul style="display: inline-block">
                            <li>Agile Project Management</li>
                            <li>C# .NET Application Development</li>
                            <li>Software Architecture</li>
                            <li>Source Control</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-md-offset-2">
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h1 class='panel-title'>Experience</h1>
                    </div>
                    <div class='panel-body'>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width=auto>Job Title</th>
                                    <th width=22%>Location</th>
                                    <th width=auto>Description</th>
                                    <th width=14%>Date</th>
                                    <th width=auto>Reason for leave</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">IT - Instructor Assistant</td>
                                    <td rowspan=2>
                                        Northcentral Technical College<br>1000 W. Campus Dr.<br>Wausau,
                                        Wisconsin 54401
                                    </td>
                                    <td>
                                        (1) Support students<br>(2) Vet curriculum <br>(3) Update curriculum<br>(4)
                                        Clerical duties
                                    </td>
                                    <td>August 2018 - Present</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td scope="row">Work Study - Tutor</td>
                                    <td>(1) Support students<br>(2) Front desk duties</td>
                                    <td>January 2018 - June 2018</td>
                                    <td>New Job Offer</td>
                                </tr>
                                <tr>
                                    <td scope="row">Home Care Provider</td>
                                    <td>At Home</td>
                                    <td>
                                        Manage my grandmother's meal preparation, medications, medical visits,
                                        transportation, shopping, housekeeping, anything
                                    </td>
                                    <td>October 2015 - Present</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td scope="row">Work Study - Various Positions</th>
                                    <td>
                                        University of Wisconsin - Stevens Point<br>1015 Reserve Street<br>Stevens
                                        Point, Wisconsin 54481
                                    </td>
                                    <td>Waiter, Cook, Dishwasher</td>
                                    <td>September 2015 - January 2015</td>
                                    <td>Grandmother's health</td>
                                </tr>
                                <tr>
                                    <td scope="row">Backup Machine Operator</th>
                                    <td>Menzner Lumber & Supply Co<br>105 Main St<br>Marathon City, Wisconsin 54448</td>
                                    <td>
                                        Previous postions at company: S4S Packager, Optimizer Line Associate, Pull Line
                                        Associate<br>
                                        <br>Quickly moved up from laborer to machine operator. Operated on lines with
                                        small custom orders.
                                    </td>
                                    <td>August 2014 - November 2014</td>
                                    <td>Continuing Education</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>