﻿@{
    Layout = "_Layout";
}
<div id="mainContent">

    <div class="content-container">
        <div class="row hidden-print">
            <section class="jumbotron col-md-offset-4 col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-lg-3 ">
                <img id="mugShot" src="images/coins.jpg" alt="Mugshot goes here" class="img-rounded">
                <h3>
                    <a href="" data-toggle="modal" data-target="#createModal">About me</a> |
                    <a href="https://www.linkedin.com/in/thus-vang-6bb96a148/">LinkedIn</a>
                </h3>
            </section>
        </div>
        <div class="row hidden-print">
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="visible-print-block">
                    <p>
                        Hello my name is Thus Vang. I was born in California, but I was
                        raised in central Wisconsin. I'm a student at Northcentral Technical
                        college pursuing an
                        associate degree in IT-Software Development. I love learning new skills,
                        spicy foods,
                        and I am happiest when I am improving as a person or with a skill.
                    </p><br>
                    <p>
                        Here's a quick bit about my history. I went to University of Wisconsin - Eau
                        Claire for 2
                        years straight out of high school from 2012-2014.
                        Unsure of what field of study I was interested, I left UWEC and spent 2
                        years working to
                        learn more about myself.
                        Come 2016, I decided to enroll at Northcentral Technical college's
                        IT-Software Development
                        program, which is where I am currently at now.
                    </p>
                    <br>
                    <p>
                        I am still quite unsure about what I want to do personally, but I ended up
                        choosing the
                        IT-Software Development here at that NTC.
                        A more specific reason as to why I chose this field is that I felt the
                        skills learned in
                        this field
                        of study will be a general requirement to be successful in a variety of
                        jobs in the near
                        future. I also chose this
                        program also because it has a wide range of opportunities. I can end up
                        anywhere from
                        designing new programs, to managing non profit finances, and even to a job
                        unrelated to my
                        field of study. The possibilities
                        are endless and they're actually possible in this field.
                    </p>
                </div>
                <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title" id="modalLabel">About me</h3>
                            </div>
                            <div class="modal-body">
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h1 class='panel-title'></h1>
                                    </div>
                                    <div class='panel-body' id="a">
                                        <p>
                                            Hello my name is Thus Vang. I was born in California, but I was
                                            raised in central Wisconsin. I'm a student at Northcentral Technical
                                            college pursuing an
                                            associate degree in IT-Software Development. I love learning new skills,
                                            spicy foods,
                                            and I am happiest when I am improving as a person or with a skill.
                                        </p><br>
                                        <p>
                                            Here's a quick bit about my history. I went to University of Wisconsin - Eau
                                            Claire for 2
                                            years straight out of high school from 2012-2014.
                                            Unsure of what field of study I was interested, I left UWEC and spent 2
                                            years working to
                                            learn more about myself.
                                            Come 2016, I decided to enroll at Northcentral Technical college's
                                            IT-Software Development
                                            program, which is where I am currently at now.
                                        </p>
                                        <br>
                                        <p>
                                            I am still quite unsure about what I want to do personally, but I ended up
                                            choosing the
                                            IT-Software Development here at that NTC.
                                            A more specific reason as to why I chose this field is that I felt the
                                            skills learned in
                                            this field
                                            of study will be a general requirement to be successful in a variety of
                                            jobs in the near
                                            future. I also chose this
                                            program also because it has a wide range of opportunities. I can end up
                                            anywhere from
                                            designing new programs, to managing non profit finances, and even to a job
                                            unrelated to my
                                            field of study. The possibilities
                                            are endless and they're actually possible in this field.
                                        </p>
                                    </div>
                                    <div class='panel-footer'>
                                        <p>Last Modified: December 1st, 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row">
            <section class="col-md-offset-2 col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-lg-6">

                <div class="table">
                    <h3>Achievements</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width=auto>Name</th>
                                <th width=auto>Description</th>
                                <th width=11%>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">NTC President's List</th>
                                <td>
                                    Students enrolled in a post-secondary program earned a 3.75 grade point average or
                                    above
                                    during the spring semester.
                                </td>
                                <td>
                                    <a href="https://www.ntc.edu/news/ntc-announces-spring-2018-presidents-list-outstanding-academic-achievement"
                                       data-toggle="tooltip" data-placement="bottom" title="Link to recipient list">
                                        Spring
                                        2018
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">NTC President's List</th>
                                <td>
                                    Students enrolled in a post-secondary program earned a 3.75 grade point average or
                                    above
                                    during the fall semester.
                                </td>
                                <td>
                                    <a href="https://wausaupilotandreview.com/2018/02/27/ntc-announces-presidents-list-for-outstanding-academic-achievement/"
                                       data-toggle="tooltip" data-placement="bottom" title="Link to recipient list">
                                        Fall
                                        2018
                                    </a>
                                </td>
                                </td>
                            </tr>

                            <tr>
                                <td scope="row">UWEC Diversity Scholars Scholarship Recipient</th>
                                <td>
                                    Amount over 4 years with a 3.0 GPA. (Minimum 25 on their ACT and rank in the top
                                    25% of
                                    their graduating class)
                                    <div role="tab" class="hidden-print">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#achievements" onclick="updateTable(this);">Expand</a>
                                        </h5>
                                    </div>

                                    <div id="achievements" class="collapse" role="tabpanel">
                                        <div>
                                            <p>
                                                Recognizes multicultural students who have demonstrated academic
                                                achievements,
                                                community service, and school leadership. Amount over 4 years with a
                                                3.0 GPA.
                                                (Students who have a minimum 25 on their ACT and rank in the top 25% of
                                                their
                                                graduating class [3.5+ GPA if no class rank] are automatically
                                                considered.)
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>2012-2013</td>
                            </tr>
                            <tr>
                                <td scope="row">WIAA Regional Champions</th>
                                <td>D.C. Everest Varsity Tennis</td>
                                <td>2011-2012</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

</div>